@media (max-width: 990px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .hangman__image {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .game {
    gap: 0px;
    justify-content: space-around;
  }

  .game__letter {
    width: 25px;
  }

  .game__keyboard {
    width: 100%;
  }

  .modal__content {
    width: 70%;
  }
}

@media (hover: hover) {
  .game__keyboard_key:not([disabled]):hover {
    background: #7db1ff91;
  }
}
