/* Reset styles */
body {
  margin: 0;
}

ul, li {
  list-style: none;
}

/* Styles */
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: #7db1fff5;
}

.container {
  width: 850px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  border-radius: 30px;

  padding: 20px;

  background: white;
}

.hangman {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.game__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.game__letter {
  width: 30px;
  border-bottom: 2px solid black;
}

.game__keyboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;

  justify-content: center;
}

.game__keyboard_key {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #7db1fff5;
  border-radius: 50%;
  border: none;
  color: white;

  cursor: pointer;
}